*{
    text-decoration: underline;
    font-style: italic;
    
}
img {
    height: 200px;
    width: 200px;
}

#azul{
    color: aquamarine;
}

#amarelo {
    color: yellow;
}

#vermelho {
    color: red;
}

#marron {
    color: burlywood;
}

#violeta {
    color: purple;
}