.container {
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 5px;
    text-align: center;
}

.header {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    
    justify-content: spa;
}

.box1 {
    background-color: red;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: red;

}

.content {
    background-color: plum;
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar {
    background-color: darkred;
    grid-row-start: 1;
    grid-row-end: 8;
}

.footer {
    background-color: brown;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 4;
}